# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Colin Key
email = colin.m.key@gmail.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	excludesFile = ~/.gitignore

